<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="nav navbar-nav navbar-left"><h3><%= @event.name %></h3></div>

    <div class="nav navbar-nav navbar-right">
      <a href="/events">Events Dashboard</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <label for="host">Host: </label>
      <%= @event.user.firstName %><br>
      <label for="date">Date: </label>
      <%= @event.date %><br>
      <label for="location">Location: </label>
      <%= @event.location %>, <%= @event.state %><br>
      <!-- We have to put in a state location as well -->
      <label for="">People who are joining the event: </label>
      <%= @event.user_joined.count %> <br><br>


      <div class="container-fluid">
        <table class="table table-bordered" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>State</th>
            </tr>
          </thead>

          <tbody>
            <% @eventattendees.each do |x| %>
            <tr>
              <td><%= x.firstName %></td>
              <td><%= x.location %></td>
              <td><%= x.state %></td>
            </tr>
            <% end %>
          </table>
        </tbody>
      </div>
    </div>

    <div class="col-lg-6">
      Discussion about this event:
      <!-- The scrollable area, ask Vanessa how to create a scrollable area -->
      <div style="width:auto; height:100px; overflow: auto; border: 1px">
        <ul class="list-group">
          <% @userdiscussions.each do |x|  %>
          <li class="list-group-item"><mark><%= User.find(x.user_id).firstName %></mark> says:  <%= x.comment %></li>
          <% end %>
        </ul>
      </div>

      <div class="container">
        <form class="" action="/addDiscussion" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
          <div class="form-group">
            <label for="comment">Add Comment</label>
            <textarea class="form-control" name="text" rows="4" cols="20"></textarea>
            <input type="hidden" name="event_id" value="<%= @event.id %>">
            <input type="submit" name="" value="Submit Comments">
          </div>
        </form>
      </div>

    </div>

  </div>


</div>
